/*

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; 
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
*/
/* The good part starts here */

body {
    font-family: 'Roboto-Mono', monospace;
}

h1.headline {
    font-family: 'Chelsea-Market', sans-serif;
    font-size: 2rem;
    color:blue;
} 

.guide {
    }
        
.header-image {
    display: inline;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
nav {
    width: 100%;
    margin: 0 auto;
}
nav a {
    display: inline-block;
    margin: 0 10px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 50px;
    background-color:  #F87B99;
}

nav a.learn {
    background-color:  #5ED3EB;
}


nav a.plan {
    background-color:  #FF764E;
}


nav a.get-involved {
    background-color:  #FFCD69;
}
/*
footer {
    width: 100%;
    overflow: hidden;

}
footer .footer-image {
    width: 100%;
    margin: 0px -50px 0px -200px;
}
*/ 
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.intro {
    margin-left: 5%;
    margin-right: 5%;
    padding: .2rem;
    font-size: 1rem;
   
}
.body-text {
    margin-left: 5%;
    margin-right: 5%;
    padding: .5rem;
    font-size: 1rem;
    background-color:#DDB9A3 ;
    color: white;
    margin-bottom: 1rem;
}


.caption {
    margin-left: 35%;
    margin-right: 35%;
    font-size: .8rem;
    text-align: center;
}

